* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {outline:none;}

h1{
    margin: 0;
    padding: 0;
    border: 0;
}
.wrapper{
    margin: auto;
    width: 1260px;
    padding: 0 10px;
    background-color: #f9f9f9;
}
.buttons{
    width: 600px;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.buttons input{
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    background: none;
}
header{
    display: flex;
    justify-content: center;
}
header h1{
    padding: 10px;
}

.block-hover{
    border: solid 1px white;
    outline: dashed 2px red;
}
#status {
    width: 600px;
    height: 600px;
    background-color: #f0f5b9;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#level-one {
    width: 500px;
    height: 500px;
    background-color: #c1eacb;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#level-two {
    width: 400px;
    height: 400px;
    background-color: #6aea6f;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#central-block{
    width: 300px;
    height: 300px;
    background-color: #03ea0c;
}

.space{
    padding-top: 56.25%;
}
.gallery {
    display: flex;
    position: relative;
    margin: 30px auto;
    max-width: 1024px;
}
.img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 1s;
}

.img_active{
    opacity: 1;
}

#previous{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
#previous:hover{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
}
.arrow{
    width: 0;
    height: 0;
    border: 80px solid transparent;
}
#previous:hover .arrow_left{
    position: absolute;
    top: calc(50% - 40px);
    left: calc(-10% - 30px);
    border-right-color: rgba(120, 161, 255, 0.30);
    border-left: 0;
}
#next{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
#next:hover{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.25));
}
#next:hover .arrow_right{
    position: absolute;
    top: calc(50% - 40px);
    right: calc(-10% - 30px);
    border-left-color: rgba(120, 161, 255, 0.30);
    border-right: 0;
}
/*.buttons_gallery{*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

/*}*/
/*.buttons_gallery div{*/
    /*flex-basis: 80px;*/
    /*text-align: center;*/
    /*border: 1px solid #232323;*/
    /*border-radius: 10px;*/
    /*background: #b4ffeb;*/
    /*padding: 10px;*/
    /*margin: 0 15px;*/
    /*cursor: pointer;*/
/*}*/

.empty{
    height: 150px;
}